.consult-now
{
    color: rgb(20,186,241);
    font-weight: 900;
    margin-top: -3%;
  

}

.consult-now:hover
{
    color: rgb(20,186,241,0.7);
    font-weight: 900;
    cursor: pointer;
  

}

#ambulance-button
{
    margin-left:85%;
    margin-right: -50%;


}


@media screen and (max-width:750px) {


    #ambulance-button
{
    margin-left: auto;
    margin-right: auto;

}
    
}