.grid-box
{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
   
}

.grid-review
{
    display: grid;
    grid-template-columns: auto auto auto;
   
}


#style-review-box
{
    border-radius: 2%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.grid-part1
{
    width: 100%;
    margin: 20px;
    margin-right: 10px;
    margin-left: 100px;
}

.grid-part2
{
    width: 20%;
    margin-left: 10px;
    font-size: 22px;
    padding: 10px 7px 10px 7px;
    font-weight: bold;
    background-color: #0EB9B8;
    color: white;
    border-radius: 8px;

}

.docdes-box1
{
    cursor: pointer;
}
.docdes-box1:hover
{
    opacity: 0.8;
}


#user-icon
{
    font-size: 70px;
}



@media screen and (max-width:750px) {


    .grid-review
{
    display: block;
    grid-template-columns: auto;
  
   
}

#style-review-box
{
    border-radius: 2%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    margin-top: 5%;
}





    #user-icon
{
    font-size: 50px;
}

#review-name
{
    font-size: 20px;
}

#review-comment
{
    font-size: 18px;
    margin-top: -15%;

}

}