#search-style-filter
{
color: black;
margin-left: 5%;
width: 140%;
}


#gridbox-filter
{
    display: grid;
    grid-template-columns: auto auto ;

}

#post-button
{
    background-color: black;
    color: white;
    width: 30%;
    margin-left: 30%;
    font-size: 15px;
}





@media screen and (max-width:900px) {

    #search-style-filter
    {
    color: black;
    margin-left: 5%;
    width: 140%;
    }
    




    #post-button
{
    background-color: black;
    color: white;
    width: 30%;
    margin-left: 39%;
    font-size: 15px;
    padding-right: 90px;
}


    
}




@media screen and (max-width:750px) {

    #search-style-filter
    {
    color: black;
    margin-left: 5%;
    width: 140%;
    }
    




    #post-button
{
    background-color: black;
    color: white;
    width: 30%;
    margin-left: 39%;
    font-size: 15px;
    padding-right: 90px;
}
    
}




@media screen and (max-width:600px) {


    #search-style-filter
    {
    color: black;
    margin-left: 5%;
    width: 140%;
    }
    




    #post-button
{
    background-color: black;
    color: white;
    width: 30%;
    margin-left: 39%;
    font-size: 15px;
    padding-right: 90px;
}


    
}




@media screen and (max-width:450px) {


    #search-style-filter
    {
    color: black;
    margin-left: 5%;
    width: 120%;
    }
    




    #post-button
{
    background-color: black;
    color: white;
    width: 30%;
    margin-left: 25%;
    font-size: 12px;
    padding-left:30px ;
    padding-right: 75px;
}


    
}



@media screen and (max-width:375px) {

    
}